.snapshot {
  border: 4px solid darkcyan;
  border-radius: 5px;
  float: left;
  width: 220px;
  margin: 20px;
  
  .title {
    border-bottom: 2px solid darkcyan;
    padding: 10px;
    font-weight: bold;
    background-color: whitesmoke;
    margin: 0;
    height: 20px;

    img {
      width: 20px;
      height: 20px;
      float: right;
      cursor: pointer;
    }
  }

  .footer {
    border-top: 2px solid darkcyan;
    background-color: whitesmoke;
    margin: 0;
    padding: 10px;
  }
  
  .content {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
  
    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    img {
      width: 50px;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}

.label {
  font-weight: 600;
}